@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
a {
  color: rgb(182, 182, 182);
  font-weight: 200;
  text-decoration: none;
  padding: 5px 0;
}
a.active {
  font-weight: 900;
  color: white;
}

::-webkit-scrollbar {
  display: none;
}

.BuyMeCoffee {
  width: 140px;
  color: #050505;
  padding: 5px 16px 5px 0;
  border-radius: 5px 24px 24px 5px;
  background-color: #fffb00;
  text-decoration: none;
  font-weight: 900;
  transition: 1000ms all;
  margin-top: 10px;
}

.BuyMeCoffee:hover {
  color: #c7c7c7;
  padding: 5px 16px 5px 5px;
  width: 210px;
  letter-spacing: 5px;
  background-color: rgb(61, 61, 61);
}
